# Default ignored files
/../../HepsiGonulden./.idea/shelf/
/../../HepsiGonulden./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../HepsiGonulden./.idea/httpRequests/
# Datasource local storage ignored files
/../../HepsiGonulden./.idea/dataSources/
/../../HepsiGonulden./.idea/dataSources.local.xml
